@import "variables";
@import "reset";

@mixin ripple-effect($color) {
  background-position: center;
  transition: background 0.8s;

  &:hover {
    background: $color radial-gradient(circle, transparent 1%, $color 1%)
      center/150000%;
  }

  &:active {
    background-color: lighten($color, 10%);
    block-size: 100%;
    transition: background 0s;
  }
}

body {
  background-color: $background-color;
  height: 100vh;
  transition-property: background-color;
  transition-duration: 0.9s;
  transition-timing-function: ease-in;

  button {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 8px;
    border-radius: 2px;
    display: inline-block;
    border: none;
    outline: none;
    min-width: 80px;

    &:hover {
      color: $white;
      transition: all ease 0.35s;
      cursor: pointer;
    }

    &[primary] {
      background-color: $secondary;
    }

    &[delete] {
      color: $red;

      &:hover {
        background-color: lighten($red, 30%);
      }
    }

    &[edit] {
      @include ripple-effect(rgb(30, 56, 93));
      color: rgb(30, 56, 93);

      &:hover {
        background-color: rgba(30, 56, 93, 0.25);
      }
    }
  }

  input {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 8px;
    background-color: transparent;
  }

  a {
    font-weight: bold;

    &:hover {
      color: $primary;
      cursor: pointer;
      transition: all 0.4s ease 0s;
    }
  }
}
