form {
  display: flex;
  flex-direction: column;

  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .file-picker {
    margin-bottom: 20px;
  }

  button {
    width: 160px;

    &.disabled{
      pointer-events: none;
      background-color: lightgray;
    }
  }
}
